<nav>
  <a href="/">CBC Final</a>
  <ul id="navBar">
    <li><a href="/products">Products</a></li>
    <li><a href="/cart">Cart</a></li>
    <li><a href="/chat">Chat</a></li>
  </ul>
  <a href="/api/auth/logout">Logout</a>
</nav>