<ul id="products">
  <li id="productID">
    <!-- <div class="product">
      <img
        src="https://th.bing.com/th/id/OIP.AEVJjlSernyD3DJ4DNnhlgHaHa?pid=ImgDet&rs=1"
        alt="Brushless Makita 12V 3/8 in. Drill & Hammer Drill"
      />
      <p>Brushless Makita 12V 3/8 in. Drill & Hammer Drill</p>
      <p>Stock: 8</p>
      <p>Price: 199.00</p>
      <p>Condition: new</p>
      <button onclick="addToCart('6459510eb58c999f7a285e99')">Add to cart</button>
      <button onclick="removeFromCart('6459510eb58c999f7a285e99')">Remove from cart</button>
    </div> -->
  </li>
</ul>
